body {
    margin: 0;
}

nav {
    background-color: #9000ff;
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-bottom-right-radius: 10px;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown-content a {
    display: flex;
    background-color: #9000ff;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}