h2 {
    font-size: 56px;
    color: #9000ff;
    font-weight: bold;
}

p {
    color: #0d0303;
    font-size: 28px;
}

p:first-of-type {
    font-weight: bold;
}

a {
    color: #7272dd;
    text-decoration: none;
}

main {
        font-family: 'ftltlt-webfont', sans-serif;
}