h2 {
    font-size: 56px;
    color: #9000ff;
    font-weight: bold;
}

p {
    color: #0d0303;
    font-size: 28px;
}

p:first-of-type {
    font-weight: bold;
}

a {
    color: #7272dd;
    text-decoration: none;
}

@font-face {
    font-family: 'ftltlt-webfont';
    src: url('ftltlt-webfont.woff2') format('woff2'),
         url('ftltlt-webfont.woff') format('woff');
}

main {
        font-family: 'ftltlt-webfont';
}